

#idData, #idCapitale{
  width:100px;
  float:left;
  margin-left: 40%;

}
#idCapitale{
  width:100px;
  float:left;
  margin-left: 3px;

}
.border{
  border:1px solid blue;

}
body{
  background:lightgrey; 
}
.bg_grey{
  background:white; 
  border-radius:5px;
}